{% extends 'base.html.twig' %}

{% block title %}Espace Admin{% endblock %}

{% block body %}
    <h1>Panneau d’administration</h1>
    <p>Bienvenue, {{ app.user.email }}. Voici les outils d’administration.</p>
{% endblock %}
