{% extends 'base.html.twig' %}

{% block title %}Effectuer une vente{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h2>Effectuer une vente – {{ location.name }}</h2>
        <form method="post" class="row g-3">
        {{ include('user/stock/_form.html.twig') }}
        </form>
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger mt-3">{{ message }}</div>
        {% endfor %}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-3">{{ message }}</div>
        {% endfor %}
    </div>
{% endblock %}
