{% extends 'base.html.twig' %}

{% block title %}Tableau de bord vendeuse{% endblock %}

{% block body %}
    <h1>Bienvenue sur votre espace vendeuse</h1>
    <p>Vous êtes connectée avec le rôle ROLE_USER.</p>
{% endblock %}
