{% extends 'base.html.twig' %}

{% block title %}Espace Utilisateur{% endblock %}

{% block body %}
    <h1>Bienvenue dans votre espace utilisateur</h1>
    <p>Ici, vous pourrez consulter vos données ou effectuer des actions selon vos droits.</p>
{% endblock %}
